<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tinklr Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    tinklr
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/bathroom_form">Add Bathroom</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Add Bathroom Section -->
        <section id="search" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

            {% if form_check == true %}
                <h2>Add a bathroom to our database:</h2>

                <form action="/add_bathroom" class="form-inline" method="post">

					   <div class="form-group">

                        <!-- Input field for text -->

                        <label for="name">Name</label>
						<input name="name" class="form-control" placeholder="Name" type="text" id="name" size="10"/ required><br/>

                        <label for="address">Street Address</label>
						<input name="address" class="form-control" placeholder="Address" type="text" id="address" size="10"/ required><br/>
                        
                        <label for="city">City</label>
						<input name="city" class="form-control" placeholder="City" type="text" id="city" size="10"/ required><br/>
                        
                        <label for="state">State</label>
						<input name="state" class="form-control" placeholder="State" type="text" id="state" size="10"/ required><br/>
                        
                        <label for="zip_code">Zip Code</label>
						<input name="zip_code" class="form-control" placeholder="Zip Code" type="text" id="zip_code" size="10"/ required><br/>

                        <label for="type">Type</label>
						<input name="type" class="form-control" placeholder="Type" type="text" id="type" size="10"/ required><br/>
                        
               
                        <!-- Example of drop down menu to select options -->

                        <label for="unisex">Unisex</label>
                        <select class="form-control" name="unisex">
							<option  value="0" selected>No</option>
							<option id="unisex" name="unisex" value="1">Yes</option>
						</select>

                        <label for="public">Public</label>
                        <select class="form-control" name="public">
							<option id="public" name="public" value="0" selected>No</option>
							<option id="public" name="public" value="1">Yes</option>
						</select>

                        <label for="key_required">Key Required</label>
                        <select class="form-control" name="key_required">
							<option id="key_required" name="key_required" value="0" selected>No</option>
							<option id="key_required" name="key_required" value="1">Yes</option>
						</select>

                        <label for="handicap">Handicap</label>
                        <select class="form-control" name="handicap">
							<option id="handicap" name="handicap" value="0" selected>No</option>
							<option id="handicap" name="handicap" value="1">Yes</option>
						</select>

                        <label for="changing_table">Changing Table</label>
                        <select class="form-control" name="changing_table">
							<option id="changing_table" name="changing_table" value="0" selected>No</option>
							<option id="changing_table" name="changing_table" value="1">Yes</option>
						</select>

                        <!-- Submit button, change onclick later -->
						<button type="submit" class="btn btn-success">Add</button>
					</div>
				</form>
            {% endif %}

            {% if markers is not empty %}
                <h4>List of bathrooms:</h4>
                    {% for marker in markers %}
                        <li><h5><strong><a href="/bathroom/{{ marker.getId }}">{{ marker.getName }}</a></strong></h5></li>
                        <li><h5><strong>{{ marker.getAddress }}</strong></h5></li>
                        <li><h5><strong>{{ marker.getType }}</strong></h5></li>
                    {% endfor %}
            {% else %}
                <h3>There are no bathrooms listed yet!</h3>
            {% endif %}

                <br/><br/>
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" id="locationSelect" style="width:100%;visibility:hidden"></select>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Filipe Silvestre, Samantha Maturen, Alex Costa, Jeff Austin, Tyler Deem 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
