<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Index</title>
</head>
<body>
    <div class='container'>
        <h1>Index</h1>
        <p>You can start making your web applications!</p>
    </div>
</body>
</html>
